<div class="form-page">
	<h2><%= t('devise.confirmations.resend_link') %></h2>

	<%= form_for(resource, :as => resource_name, :url => confirmation_path(resource_name), :html => { :method => :post }) do |f| %>
	  <%= devise_error_messages! %>

	  <div>
	  	<%= f.email_field :email, :autofocus => true, class: "form-control", 
	  														placeholder: t('activerecord.attributes.user.email') %>
	  </div>

	  <br>

	  <div><%= f.submit t('devise.confirmations.resend_link'), class: "btn btn-lg btn-primary btn-block" %></div>
	<% end %>

	<div class="shared-links">
  	<%= render "devise/shared/links" %>
  </div>
</div>
