<div class="row">
  <%= div_for political_party, class: ".col-sm-8" do %>
    <%= image_tag political_party.picture.url, class: "political-party-picture" %>

    <div class="political-party-info">
      <%= political_party.name %><br>
      <%= political_party.siglum %> - <%= political_party.number.to_i %><br>
      <%= political_party.position %>
    </div>

    <div class="progress politician-like-bar">
      <div class="progress-bar progress-bar-success" style="width: <%= likes_percentage(political_party) %>%">
      </div>
      <div class="progress-bar progress-bar-danger" style="width: <%= dislikes_percentage(political_party) %>%">
      </div>
    </div>

    <div class="political-party-like btn-group">
      <% if user_signed_in? && current_user.has_liked_political_party?(political_party) %>
        <% if political_party_like_value(current_user, political_party) %>
          <%= link_to fa_icon("thumbs-up lg", text: political_party.likes), 
                      political_party_likes_like_path(political_party_id: political_party.id),
                      type: 'button', 
                      class: "btn btn-default like link-button", 
                      disabled: 'disabled' %>
          
          <%= link_to fa_icon("thumbs-down lg", text: political_party.dislikes),
                      political_party_likes_dislike_path(political_party_id: political_party.id), 
                      type: 'button', 
                      class: 'btn btn-default dislike link-button' %>

        <% else %>
          <%= link_to fa_icon("thumbs-up lg", text: political_party.likes), 
                      political_party_likes_like_path(political_party_id: political_party.id),
                      type: 'button', 
                      class: "btn btn-default like link-button" %>
          
          <%= link_to fa_icon("thumbs-down lg", text: political_party.dislikes),
                      political_party_likes_dislike_path(political_party_id: political_party.id), 
                      type: 'button', 
                      class: 'btn btn-default dislike link-button', 
                      disabled: 'disabled' %>

        <% end %>
      <% elsif user_signed_in? %>
        <%= link_to fa_icon("thumbs-up lg", text: political_party.likes), 
                    political_party_likes_like_path(political_party_id: political_party.id),
                    type: 'button', 
                    class: "btn btn-default like link-button" %>
        
        <%= link_to fa_icon("thumbs-down lg", text: political_party.dislikes),
                    political_party_likes_dislike_path(political_party_id: political_party.id), 
                    type: 'button', 
                    class: 'btn btn-default dislike link-button' %>
      <% else %>
      <%= link_to fa_icon("thumbs-up lg", text: political_party.likes), 
                    political_party_likes_like_path(political_party_id: political_party.id),
                    type: 'button', 
                    class: "btn btn-default like link-button",
                    disabled: 'disabled' %>
        
        <%= link_to fa_icon("thumbs-down lg", text: political_party.dislikes),
                    political_party_likes_dislike_path(political_party_id: political_party.id), 
                    type: 'button', 
                    class: 'btn btn-default dislike link-button',
                    disabled: 'disabled' %>
      <% end %>
    </div>

    <% if current_user.try(:admin?) %>
      <%= link_to 'Editar Partido', edit_political_party_path(political_party) %>
      <%= link_to 'Destroy', political_party, method: :delete, data: { confirm: 'Are you sure?' } %>
    <% end %>
  <% end %>
</div>
