<div class="profile">
  <%= image_tag user.profile_picture.url, class: "profile-picture" %>
  <h2 class="profile-name">
    <%= link_to user.full_name, "/#{user.username}" %> 
    <%= fa_icon("check-circle", class: 'profile-icon') if user.politician? %>
  </h2>

  <% if user.politician? && user.political_party_id %>
    <% if user_signed_in? && current_user != user %>
      <%= link_to user.political_party.siglum, political_party_path(user.political_party), class: 'profile-political-party-name-with-button' %>
    <% else %>
      <%= link_to user.political_party.siglum, political_party_path(user.political_party), class: 'profile-political-party-name' %>
    <% end %>
  <% end %>

  <% if user_signed_in? && current_user != user %>
    <div id="follow_form">
      <% if current_user.following?(user) %>
        <%= form_for(current_user.relationships.find_by(followed_id: user.id),
				             html: { method: :delete }) do |f| %>
				  <%= f.submit "Deixar de seguir", class: "btn btn-large  follow-button" %>
				<% end %>
      <% else %>
        <%= form_for(current_user.relationships.build(followed_id: user.id)) do |f| %>
			  <div><%= f.hidden_field :followed_id %></div>
			  <%= f.submit "Seguir", class: "btn btn-large btn-primary follow-button" %>
			<% end %>
      <% end %>
    </div>
  <% end %>

  <div class="stats btn-group">
  <button type="button" class="btn btn-default">
    <a href="/<%= user.username %>/following">
      <strong id="following" class="stat">
        <%= user.followed_users.count %>
      </strong><br>
      Seguindo
    </a>
  </button>
  <button type="button" class="btn btn-default">
    <a href="/<%= user.username %>/followers">
      <strong id="followers" class="stat">
        <%= user.followers.count %>
      </strong><br>
      Seguidores
    </a>
  </button>
</div>

  <% if  user.politician? %>
    <div class="progress politician-like-bar">
      <div class="progress-bar progress-bar-success" style="width: <%= likes_percentage(user) %>%">
      </div>
      <div class="progress-bar progress-bar-danger" style="width: <%= dislikes_percentage(user) %>%">
      </div>
    </div>

    <div class="btn-group politician-like-button-group">
      <% if current_user.has_liked_politician?(user) %>
        <% if politician_like_value(current_user, user) %>
          <%= link_to fa_icon("thumbs-up", text: user.likes), 
                      politician_likes_like_path(politician_id: user.id), 
                      type: 'button',
                      class: 'like btn btn-default politician-like-button link-button',
                      disabled: "disabled" %>
          
          <%= link_to fa_icon("thumbs-down", text: user.dislikes), 
                      politician_likes_dislike_path(politician_id: user.id), 
                      type: 'button', 
                      class: 'dislike btn btn-default politician-dislike-button link-button' %>

        <% else %>
          <%= link_to fa_icon("thumbs-up", text: user.likes), 
                      politician_likes_like_path(politician_id: user.id), 
                      type: 'button',
                      class: 'like btn btn-default politician-like-button link-button' %>
          
          <%= link_to fa_icon("thumbs-down", text: user.dislikes), 
                      politician_likes_dislike_path(politician_id: user.id), 
                      type: 'button', 
                      class: 'dislike btn btn-default politician-dislike-button link-button',
                      disabled: "disabled" %>

        <% end %>
      <% else %>
        <%= link_to fa_icon("thumbs-up", text: user.likes), 
                    politician_likes_like_path(politician_id: user.id), 
                    type: 'button',
                    class: 'like btn btn-default politician-like-button link-button' %>
        
        <%= link_to fa_icon("thumbs-down", text: user.dislikes), 
                    politician_likes_dislike_path(politician_id: user.id), 
                    type: 'button', 
                    class: 'dislike btn btn-default politician-dislike-button link-button' %>
      <% end %>
    </div>
  <% end %>

  <% if current_user.try(:admin?) %>
  	<% if user.politician? %>
  		<%= link_to 'Turn user to elector', "users/#{user.id}/turn_to_elector" %>
  	<% else %>
  		<%= link_to 'Turn user to Politician', "users/#{user.id}/turn_to_politician" %>
  	<% end %>
  <% end %>
</div>