<div class="form-page">
	<h2><%= t('devise.passwords.change') %></h2>

	<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :put }) do |f| %>
	  <%= devise_error_messages! %>
	  <%= f.hidden_field :reset_password_token %>

	  <div>
	  	<%= f.password_field :password, :autofocus => true, class: "form-control", 
	  												placeholder: t('devise.passwords.new_password') %>
	  </div>

	  <div>
	  	<%= f.password_field :password_confirmation, class: "form-control", 
	  												placeholder: t('devise.passwords.confirm_new_password') %>
	  </div>

	  <br>

	  <div><%= f.submit t('devise.passwords.change_button'), class: "btn btn-lg btn-primary btn-block" %></div>
	<% end %>

	<div class="shared-links">
		<%= render "devise/shared/links" %>
	</div>
</div>
