<h1>Listing posts</h1>


<% if user_signed_in? %>
	<%= form_for(Post.new, remote: true) do |f| %>
	  <div class="form-group">
	    <%= f.label :content %><br>
	    <%= f.text_area :content, :class => "form-control input-lg" %>
	  </div>
	  <div class="actions">
	    <%= f.submit %>
	  </div>
	<% end %>
<% end %>


<div id="posts">
  <%= render @posts %>
</div>
<br>



