<p>Olรก <%= @resource.full_name %>!</p>

<p><%= t('devise.password_reset.reset_request') %></p>

<p><%= link_to t('devise.password_reset.change_password'), edit_password_url(@resource, :reset_password_token => @token) %></p>

<p><%= t('devise.password_reset.ignore') %></p>
<p><%= t('devise.password_reset.wont_change') %></p>
