<header>
	<nav role="navigation">
		<div class="container">

			<div class="dropdown pull-right">
	 			<button class="btn btn-default dropdown-toggle navbar-menu-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown">
    			<i class="fa fa-bars fa-2x navbar-icon"></i>
  			</button>
  			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  				<% if user_signed_in? %>
  					<li role="presentation">
  						<%= link_to fa_icon('user', text: current_user.full_name), "/#{current_user.username}" %>
  					</li>
  					<li role="presentation">
  						<%= link_to fa_icon('edit', text: 'Editar Perfil'), edit_user_registration_path(current_user) %>
  					</li>
  					<li role="presentation">
  						<%= link_to fa_icon('cog', text: 'Configurações'), edit_user_path(current_user) %>
  					</li>
  					<li role="presentation">
  						<%= link_to fa_icon('power-off', text: t('devise.views.sign_out')), destroy_user_session_path, :method => :delete %>
  					</li>
  					<li role="presentation" class="divider"></li>
  				<% end %>
  				<li role="presentation"><%= link_to fa_icon('flag', text: 'Partidos'), political_parties_path %></li>
			    <li role="presentation"><%= link_to fa_icon('newspaper-o', text: 'Sobre'), sobre_path %></li>
			    <!-- <li role="presentation"><%= link_to fa_icon('legal', text: 'Termos de Uso'), termos_path %></li> -->
			  </ul>
	 		</div>

	 		<div class="navbar-collapse collapse pull-right">
	 			<div class="nav navbar-nav navbar-search-form input-group">
	 				<span class="input-group-addon"><i class="fa fa-search"></i></span>
	 				<%= form_tag(users_search_path, :method => "get") do %>
	 					<%= text_field_tag :search, params[:search], placeholder: "Buscar Usuários", class: "form-control", id: 'search-input' %>
			  		<%= submit_tag '', :name => nil, class: "hidden" %>
	 				<% end %>
				</div>
	 		</div>

			<%= link_to(fa_icon("check-square 3x", class: "home-icon"), '/', class: "home-link")  %>

	 		<% if user_signed_in? %>
	 			<%= link_to(fa_icon('home 2x', class: "home-icon"), '/home') %>
	 			<i class="fa fa-bell fa-2x navbar-icon"></i>
	 		<% else %>
	 			<%= link_to t('devise.views.sign_up'), new_user_registration_path, :class => "btn btn-default navbar-button sign-up-button" %>
	 			<%= link_to t('devise.views.sign_in'), user_session_path, :class => "btn btn-default navbar-button" %>
	 		<% end %>
	 		
	 		<button type="button" class="navbar-toggle search-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	 			<i class="fa fa-search fa-2x navbar-icon"></i>
	 		</button>

		</div>
	</nav>
</header>