<header>
	<nav role="navigation">
		<div class="container">

			<div class="dropdown pull-right">
	 			<button class="btn btn-default dropdown-toggle navbar-menu-dropdown" type="button" id="dropdownMenu1" data-toggle="dropdown">
    			<i class="fa fa-bars fa-2x navbar-icon"></i>
  			</button>
  			<ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
  				<% if user_signed_in? %>
  					<li role="presentation">
  						<%= link_to current_user.full_name, "/#{current_user.username}" %>
  					</li>
  					<li role="presentation">
  						<%= link_to t('devise.views.sign_out'), destroy_user_session_path, :method => :delete %>
  					</li>
  					<li role="presentation" class="divider"></li>
  				<% end %>
			    <li role="presentation"><%= link_to 'Sobre', sobre_path %></li>
			    <li role="presentation"><%= link_to 'Termos de Uso', termos_path %></li>
			  </ul>
	 		</div>

	 		<form class="navbar-collapse collapse pull-right">
	 			<div class="nav navbar-nav navbar-search-form input-group">

					  <input type="text" class="form-control" >
					  <span class="input-group-addon"><i class="fa fa-search"></i></span>

				</div>
	 		</form>

			<%= link_to(fa_icon("check-square 3x", class: "home-icon"), '/', class: "home-link")  %>

	 		<% if user_signed_in? %>
	 			<i class="fa fa-home fa-2x navbar-icon"></i>
	 			<i class="fa fa-paper-plane fa-2x navbar-icon"></i>
	 			<i class="fa fa-bell fa-2x navbar-icon"></i>
	 		<% else %>
	 			<%= link_to t('devise.views.sign_up'), new_user_registration_path, :class => "btn btn-default navbar-button" %>
	 			<%= link_to t('devise.views.sign_in'), user_session_path, :class => "btn btn-default navbar-button" %>
	 		<% end %>
	 		
	 		<button type="button" class="navbar-toggle search-toggle" data-toggle="collapse" data-target=".navbar-collapse">
	 			<i class="fa fa-search fa-2x navbar-icon"></i>
	 		</button>

		</div>
	</nav>
</header>