<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Sociedade Avalia</title>
  <%= favicon_link_tag %>
  
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">

	<%= render "layouts/header" %>

	<main class="container">
		<% if flash[:alert] %>
			<div class="alert alert-danger"><%= alert %></div>
		<% end %>

		<% if flash[:notice] %>
			<div class="notice alert alert-success "><%= notice %></div>
		<% end %>

		<%= yield %>
	</main>

	
</body>
</html>
