<!DOCTYPE html>
<html lang="pt-BR">
<head>
  <title>Sociedade Avalia</title>
  <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>
  
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body class="body">

	<div class="container">
		<% if flash[:alert] %>
			<div class="alert alert-danger"><%= alert %></div>
		<% end %>

		<% if flash[:notice] %>
			<div class="notice alert alert-info "><%= notice %></div>
		<% end %>

		<%= yield %>

		<% if user_signed_in? %>
			<br /><p><%= current_user.username %></p><br />
			<%= link_to "Logout", destroy_user_session_path, method: :delete  %>
		<% else %>
			<br /><%= link_to "Sign in", new_session_path(User) %><br />
			<%= link_to "Sign up", new_registration_path(User) %>
		<% end %>
	</div>

	<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
</body>
</html>
